@keyframes SlideUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.Background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #250606;
  z-index: -1;
}

.VidContainer {
  width: 100%;
  overflow: hidden;
  display: block;
  height: 100vh;
}

.VidContainer img {
  object-fit: cover;
  justify-content: center;
  width: 100%;
}

.HeroImgs {
  width: 100%;
}
.Banner {
  width: 100%;
}
.Dinner {
  position: absolute;
  top: calc(200px + 100vh);
  left: 200px;
  z-index: 2;
  margin-left: 0;
  width: 30%;
}

.TwoColumns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
  max-width: 1300px;
  padding: 20px 40px;
}
.TwoColumnsFirst {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
  max-width: 1300px;
  padding: 20px 40px;
}

.UnevenColumns {
  display: grid;
  grid-template-columns: minmax(400px, 5fr) minmax(400px, 1fr);
  margin: 10% 0;
}

.UnevenColumns img {
  width: 90%;
  margin: auto;
}
.UnevenColumns img:nth-child(1) {
  max-height: 500px;
  object-fit: cover;
  width: 90%;
}
.UnevenColumns img:nth-child(2) {
  margin-right: 300px;
}
.ThreeColumns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
  max-width: 1300px;
  padding: 20px 40px;
}

.Refill img {
  padding: 10px;
  border-bottom: 3px solid transparent;
  transition: 0.5s ease-in-out;
}
.Refill img:hover {
  border-bottom: 3px solid white;
}

.Refill a {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  color: #ffad86;
  transition: 0.5s ease-in-out;
}

.Refill a:hover {
  border-bottom: 3px solid white;
}
/* .MainParent h1 {
  letter-spacing: 10px;
  animation: SlideUpAnimation 5s 1.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
} */
.TwoColumnsFirst img {
  margin: auto;
  max-width: 500px;
  opacity: 0;
}
.TwoColumns img {
  margin: auto;
  max-width: 500px;
}
.ThreeColumns img {
  margin: auto;
  max-width: 400px;
}

.MainTextGroup {
  margin: auto;
  max-width: 500px;
}
.MainTextGroup h2 {
}
.MainTextGroup p {
  letter-spacing: 3px;
  padding-bottom: 20px;
}
footer p {
  max-width: 1000px;
  margin: 20px;
  text-align: left;
}

@media (max-width: 450px) {
  .Banner {
    margin-top: 0;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .Dinner {
    top: calc(480px);
    left: 60px;
  }
  .VidContainer {
    height: 100%;
  }
  .VidContainer img {
    margin-top: 100px;
  }
  h1 {
    font-size: 18px;
  }
  p,
  p1 {
    font-size: 14px;
  }
  .Refill img {
    max-width: 300px;
  }
  .TwoColumns img {
    margin: 30px 0 0 0;
    max-width: 300px;
  }
  .TwoColumnsFirst img {
    display: none;
  }
  .UnevenColumns {
    grid-template-columns: repeat(auto-fit, 300px);
    margin: auto;
    justify-content: center;
  }

  .UnevenColumns img {
    max-width: 300px;
    margin: auto;
  }
  .UnevenColumns img:nth-child(1) {
    max-height: 500px;
    padding: auto;
  }
  .UnevenColumns img:nth-child(2) {
    margin-right: auto;
    padding: 20px;
  }
}
